DEBUG=0
SECRET_KEY=replace-this-with-a-real-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=mechanic_db
POSTGRES_USER=mechanic_user
POSTGRES_PASSWORD=mechanic_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
